[submodule "vendor/github.com/uhoh-itsmaciek/femebe"]
	path = vendor/github.com/uhoh-itsmaciek/femebe
	url = https://github.com/uhoh-itsmaciek/femebe
[submodule "vendor/golang.org/x/sync"]
	path = vendor/golang.org/x/sync
	url = https://go.googlesource.com/sync
[submodule "vendor/github.com/go-kit/kit"]
	path = vendor/github.com/go-kit/kit
	url = https://github.com/go-kit/kit
[submodule "vendor/github.com/go-logfmt/logfmt"]
	path = vendor/github.com/go-logfmt/logfmt
	url = https://github.com/go-logfmt/logfmt
[submodule "vendor/github.com/go-stack/stack"]
	path = vendor/github.com/go-stack/stack
	url = https://github.com/go-stack/stack
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/stretchr/testify"]
	path = vendor/github.com/stretchr/testify
	url = https://github.com/stretchr/testify
[submodule "vendor/github.com/prometheus/client_golang"]
	path = vendor/github.com/prometheus/client_golang
	url = https://github.com/prometheus/client_golang
[submodule "vendor/github.com/beorn7/perks"]
	path = vendor/github.com/beorn7/perks
	url = https://github.com/beorn7/perks
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/github.com/prometheus/client_model"]
	path = vendor/github.com/prometheus/client_model
	url = https://github.com/prometheus/client_model
[submodule "vendor/github.com/prometheus/common"]
	path = vendor/github.com/prometheus/common
	url = https://github.com/prometheus/common
[submodule "vendor/github.com/matttproud/golang_protobuf_extensions"]
	path = vendor/github.com/matttproud/golang_protobuf_extensions
	url = https://github.com/matttproud/golang_protobuf_extensions
[submodule "vendor/github.com/prometheus/procfs"]
	path = vendor/github.com/prometheus/procfs
	url = https://github.com/prometheus/procfs
